*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.smallNav{
    background-color: #e3e3e3;
    border-bottom: #b6b6b6 1px solid;
    padding: 8px 0 8px;
}

.smallNav a{
    text-decoration: none;
    color: #ffffff;
    font-family: Aharoni;
    font-size: 12px;
    text-transform: uppercase;
    font-style: oblique;
}

.smallNav a:hover{
    color: #000000;
    font-weight: bold;
    font-style: normal;
}

.smallNav nav li{
    float: left;
    display: inline;
}

.smallNav li{
    border-right: #ffffff 1px solid;
    padding: 0 15px;
}

.smallNav nav{
    float: right;
}

#mainHeader img{
    margin: 40px 0 30px;
}

.mainNav{
    /*
    -webkit-box-shadow: 2px 2px 5px #000000;
    -moz-box-shadow: 2px 2px 5px #000000;
    box-shadow: 2px 2px 5px #000000;
    */
    height: 40px;
    background-color: #e8000d;
    border-top: 1px #820006 solid;
    border-bottom: 1px #820006 solid;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.mainNav a{
    text-decoration: none;
    font-family: Aharoni;
    font-size: 130%;
    color: #ffffff;
    background: #e8000d;
}

.mainNav a:hover{
    background: #ffffff;
    color: #e8000d;
}

.mainNav ul ul li:hover{
    border-top: 1px #820006 solid;
    border-bottom: 1px #820006 solid;
}

nav ul{
    list-style: none;

}

.mainNav ul a{
    display: block;
}

.mainNav ul li{
    float: left;
    width: 180px;
    line-height: 40px;
}

.mainNav ul ul li{
    position: relative;
    display: none;
}

.mainNav ul li:hover ul li{
    display:block;
}

#hits{
    /*border: 2px #b6b6b6 solid;*/
    margin: 120px 0 50px;
    /*border-bottom: 1px #b6b6b6 solid;*/
}

#promotions,
#news{
    /*border: 2px #888888 solid;*/
    margin: 0 0 50px;
    /*border-bottom: 1px #888888 solid;*/
}

/*#news{
    border: 2px #494949 solid;
    margin: 0 0 130px;
    border-bottom: 1px #494949 solid;
}*/

#hitsLabel,
#promotionLabel,
#newsLabel {
    color: #ff0000;
    text-align: center;
    padding: 8px;
    font-family: Aharoni;
    font-size: 120%;
    font-style: oblique;
}

#hitsLabel{
   /* background-color: #b6b6b6;*/
    border-top: 1px #820006 solid;
    border-bottom: 1px #820006 solid;
}

#promotionLabel{
    /*background-color: #888888;*/
    border-top: 1px #820006 solid;
    border-bottom: 1px #820006 solid;
}

#newsLabel{
    /*background-color: #494949;*/
    border-top: 1px #820006 solid;
    border-bottom: 1px #820006 solid;
}

.products img{
    margin:50px 30px;
    /*vertical-align: middle;
    margin-right: auto;
    margin-left: auto;*/
    width: 20%;
}

#boxes{
    background-color: #e3e3e3;
    border: 1px #e3e3e3 solid;
}


.box{
    float: left;
    padding: 20px 98px 50px;
    text-align: center;
    font-family: "Berlin Sans FB";
    color:#363636;
    width: 120px;
    height: 130px;
}

.box:hover{
    background-color: #ffffff;
}

.box label{
    font-size: 600%;
    color: #ff0000;
}
/*
.boxes img{
    width: 120px;
    height: 90px;
}
*/

#newsletter form{
    font-family: Arial;

    width: 80%;
    margin: 25px auto;
    padding-bottom: 80px;
}

#newsletterLabel{
    font-size: 200%;
    width: 15%;
    float: left;
    color: #ff0000;
    font-weight: bold;
}

#newsletter .inputGroup .formControl{
    width: 60%;
    float: left;
    margin-left: 45px;
}
#newsletter .inputGroup label{
    padding-left: 197px;
}

#newsletterButton .formControl{
    background-color: #ff0000;
    border: none;
    color: #ffffff;
    font-weight: bold;
    float: right;
    width: 15%;
}

#newsletterButton .formControl:hover{
    background-color: #bf0000;
}

footer{
    align-content: center;
    font-family: Aharoni;
    background-color: #e3e3e3;
    border-top: 1px #b6b6b6 solid;
}

footer h4{
    width: 20%;
    margin: 25px auto;

}

/*
SIGN UP PAGE
*/

#smallLogo{
    width:80%;
    margin: 0 auto;
    border-bottom: 1px #820006 solid;
}

#smallLogo img{
    width: 20%;
    padding: 50px 0;
}

#signUp form{
    width: 50%;
    margin: 40px auto 0;
    font-family: Arial;
}

#inputWindows{
    margin: 20px 0;
}

.formControl:focus{
    border: 1px #ff0000 solid;
    outline: 0;
}

.inputGroup{
    position: relative;
}

.formControl{
    margin: 10px 0;
    padding: 0 12px;
    height: 50px;
    width: 100%;
    font-size: 120%;
    border: 1px #b6b6b6 solid;
    background-color: transparent;
}

.inputGroup label{
    position: absolute;
    top: 27px;
    left: 13px;
}

.formControl:focus + label{
    top: 12px;
    font-size: 60%;
    color: #ff0000;
}

/*naprawic,zeby mozna bylo klikac na label i autouzupelnianie*/

.checkbox{
    margin: 20px 0;
    text-align: justify;
}

#submitButton .formControl{
    margin: 20px 35% 40px;
    width: 30%;
    height: 50px;
    background: #ff0000;
    color: #ffffff;
    font-size: 140%;
    font-weight: bold;
    border: none;
}

#submitButton .formControl:hover{
    background: #bf0000;
}


